'context-menu':
  '.tree-view .file': [{label: 'Relative Require', command: 'relative-require:treeViewRequire'}],
  'atom-text-editor': [{label: 'Relative Require', command: 'relative-require:editorRequire'}]
